*{
	margin: 0px;
	padding: 0px;
}
.header-side{
	background-color: #fff;
	padding:0 0;

}
.med{
	color: #3cc;
	text-transform: uppercase;
	padding-top: 10px;
}
ul.menu-nav{
	    margin-top: 21px;
    margin-bottom: 0;
	padding: 0px;
	float: right;
}
 ul.menu-nav li{
  	display: inline-block;

	margin-left: 10px;
}
 ul.menu-nav li a{
 	text-decoration: none;
 	color: #000;
 }
  ul.menu-nav li.active a{
  	color:  #3cc;
  }
   ul.menu-nav li a:hover{
   		color: #3cc; 
   }
   ul.menu-nav li:last-child{
   		 background-color:#00BCD4;
   		   border-radius: 20px;   
 			box-shadow: 10px;
    
           
   }
   .main{
   	padding: 20px;
   	background-color: #17a2b8;

   }
   .main p{
   	margin-bottom: 0;
   	margin-top: 0;
   }
  
   img{

 	width: 100%;
 	height: 450px;

  	
  }
  .slider-section p{
  	position: absolute;
  	top: 50%;
  	right: 35%;
  	bottom: 50%;
  	left: 35%;
  	text-transform: uppercase;
  	color: #fff;
  }
  .table{
  	position: relative;
  	bottom: 50px;
 
  }
  .app i{
  	text-align: center;
  	display: block;
  	font-size: 50px;
  	color:  #20c997;

  }
  .app i:hover{
  	background-color: #20c997;
  	border-radius: 50%;
  	width: 100px;
  	height: 100px;
  	color: #fff;
  	display: block;
  	margin: 0 auto; 
  }


   .one{
    	background-color: #20c997;
    	color: #fff;
    	widows: 100px;
      
    }
  .two{
  	color:#fff;
  	background-color:#009688
  	
   
  }
  .three{
  	background-color: #e83e8c;
    color: #fff;
  }
  
   .table h1{
   	text-align: center;
   	margin-top: 100px;
   	color: #17a2b8;
   }
   .table p{
   	text-align: center;

   	color: #000;
   }
  .doct-app{
  	background-color: #6c757d6b;
  	padding:  30px 0;
   }
     .doct-app h1{
     text-align: center;
   
     color:#20c997;

     } 

      .doct-app p{
      	text-align: center;
      	margin-bottom: 30px;
      	
      }	 
      .head{
      	background-color: #20c997;
      	padding: 80px 0; 
      }
      .wellexpdoc{
      	background-color: #fff;
      	padding: 80px;
	 }
     .wellexpdoc h1{
     	text-align: center;
     	color: #20c997;
      
     }
     .wellexpdoc p{
     	color: #000;
     	text-align: center;
     }
     .recentblog{
     	background-color: #aac1b8e6;
     	padding: 80px;
     }
      .recentblog h3{
      	text-align: center;
      	color: #20c997;
      	padding: 30px;

      }
         .recentblog p{
         	text-align: center;
         	color: #000;
         }
          
          .getfree  h1{

         	text-align: center;
         	color: #20c997;
		         }
			

        .getfree p{
        	text-align: center;
        	color: #000;

        }
      .getfree   {
      	padding: 80px;
        }   